body {
    padding: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
}

img {
    width: 40%;
    height: 50%;
    border-radius: 5%;
    float: left;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
    color: lemonchiffon;
}

#name {
    text-align: left;
}

h5 {
    font-style: italic;
    color: lemonchiffon;
}

h3 {
    color: lemonchiffon;
}

ul {
    list-style-type: square;
}

#links li:hover a{
    color: white;
}