body {
    background-color: saddlebrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tan;
}

img {
    width: 40%;
    height: 50%;
    border-radius: 5%;
}